
<nav class="headerflex">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/removeData">Remove data</a></li>
        <li><a href="/addStudent">Add student</a></li>
        <li><a href="/addCourse">Add course</a></li>
    </ul>
</nav>